{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book</title>
  <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
   <div class="createContainer">
     <form action="{% url 'add-book'%}" method="POST">
        {% csrf_token%}
        <input class="creatInput" type="text" placeholder="Название любимой книги" name="todo_name">
        <button class="creatBtn">Добавить</button>
     </form>
   </div>
   <div class="toDoContainer">
     {% for book in book_list %}
     <div class="toDoItem">
       <h2>{{book.title}}</h2>
     </div>
     {%endfor%}
   </div>
</body>
</html>