{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book</title>
  <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
   <div class="createContainer">
     <form action="{% url 'add-book'%}" method="POST">
        {% csrf_token%}
        <input class="creatInput" type="text" placeholder="Название любимой книги" name="title">
        <input class="creatInput" type="text" placeholder="Подзаголовок книги" name="subtitle">
        <input class="creatInput" type="text" placeholder="Описание книги" name="description">
        <input class="creatInput" type="number" placeholder="Цена книги" name="price">
        <input class="creatInput" type="text" placeholder="Жанр книги" name="genre">
        <input class="creatInput" type="text" placeholder="Автор книги" name="author">
        <input class="creatInput" type="datetime-local" placeholder="Год выпуска книги" name="year">
        <button class="creatBtn">Добавить</button>
     </form>
   </div>
   <div class="toDoContainer">
     {% for book in books %}
       <div class="toDoItem
        {% if book.is_favourite %}
             marked
          {% endif%}
       ">
          <h2>{{ book.title }}</h2>
          <p>{{ book.subtitle }}</p>
          <p>{{ book.genre }}</p>
          <p>{{ book.author }}</p>
          <p>{{ book.year }}</p>
          <p>{{ book.price }}</p>
          <p>{{ book.description }}</p>
             <div class="toDoItemFooter">
          <p>{{book.created_at}}</p>
          <div class="actionBtns">
              {% if book.is_favourite %}
                <a href="{% url 'mark-book' book.id %}">
                  <img src="{% static  'images/star.png'%}" alt="">
                </a>
              {%else%}
                <a href="{% url 'mark-book' book.id %}">
                  <img src="{% static  'images/uncolor-star.png'%}" alt="">
                </a>
              {%endif%}
                <a href="{% url 'delete-book' book.id %}">
                    <img src="{% static  'images/trash-alt-solid.svg'%}" alt="">
                </a>
            </div>
        </div>
       </div>
     {% endfor %}
   </div>
</body>
</html>