{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book</title>
  <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
   <div class="toDoContainer">
  {% for book in book_list %}

<div class="toDoItem">
<h2>{{book.title}}</h2>
<p>{{book.subtitle}}</p>
<p>{{book.genre}}</p>
<p>{{book.author}}</p>
<p>{{book.year}}</p>
<p>{{book.price}}</p>
<p>{{book.description}}</p>
</div>
  {%endfor%}
  </div>
</body>
</html>